/* SOLORIZED DARK*/
html {
    background-color: #073642;
    color: #78909c;
}
h1, h2, h3, h4, h5, h6 {
    color: #1e88e5;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #1e88e5;
    border-bottom-color: #1e88e5;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    background-color: #1e88e5;
    color: #fff;
}
pre {
    background-color: #073642;
    padding: 0;
    border: none;
    white-space: normal;
    word-break: break-all;
}
pre code {
    color: #009688;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
    color: #78909c;
}
code, strong {
    color: #90a4ae;
}
code {
    font-weight: 100;
}
.progress-bar-filled {
    background-color: #558b2f;
}
.progress-bar-filled:after, .progress-bar-filled:before {
    color: #90a4ae;
}
table {
    color: #78909c;
}
table td, table th {
    border-color: #b0bec5;
}
table tbody td:first-child {
    color: #b0bec5;
}
label {
    color: #78909c;
    border-color: #90a4ae;
}
label:after {
    background-color: #073642;
}
input,
textarea,
select {
    color: #78909c;
    border-color: #90a4ae;
}
input:focus,
textarea:focus,
select:focus {
    border-color: #cfd8dc;
    color: #cfd8dc;
}
textarea {
    color: #78909c;
    min-width: 285px;
    min-height: 150px;
}
.card {
    border-color: #90a4ae;
}
.card .card-header {
    background-color: transparent;
    color: #78909c;
    border-bottom: 1px solid #90a4ae;
}
button {
    border-color: #607d8b;
    color: #607d8b;
}
button:focus, 
button:hover {
    border-color: #90a4ae;
    color: #90a4ae;
    z-index: 1;
}
button.btn-default:focus, 
button.btn-default:hover {
    border-color: #e0e0e0;
    color: #e0e0e0;
}

button._1:focus, 
button._1:hover { /*primary*/
    border-color: #64b5f6;
    color: #64b5f6;
}
button._2:focus, 
button._2:hover { /*success*/
    border-color: #81c784;
    color: #81c784;
}
button._3:focus, 
button._3:hover { /*info*/
    border-color: #4dd0e1;
    color: #4dd0e1;
}
button._4:focus, 
button._4:hover { /*error*/
    border-color: #e57373;
    color: #e57373;
}
button._5:focus, 
button._5:hover { /*warning*/
    border-color: #ffb74d;
    color: #ffb74d;
}
.avatarholder, .placeholder {
    background-color: transparent;
    border-color: #90a4ae;
}
.menu .menu-item {
    color: #78909c;
    border-color: #90a4ae;
}
.menu .menu-item.active, .menu .menu-item:hover {
    color: #fff;
    border-color: #78909c;
}

